<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="secret_tool_v1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <secret_tool_v1.Properties.Settings>
            <setting name="s_txt_basic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_txt_cpu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_txt_hdd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_txt_misc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_html_basic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_html_cpu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_html_hdd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_html_misc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_html_background" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="s_html_foreground" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="s_background" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="s_foreground" serializeAs="String">
                <value />
            </setting>
        </secret_tool_v1.Properties.Settings>
    </userSettings>
</configuration>